<label for="date">Choose a date</label>
<duet-date-picker
  identifier="{{ date['#name'] }}"
  name="{{ date['#name'] }}"
  id="{{ date['#name'] }}"
  value="{{ formatted_default_date }}"
>
</duet-date-picker>
